# Posttest 5 - Supervised Learning
Muhammad Rizky Hari Nugroho (2009106141)

# Import Library

In [33]:
import pandas as pd

# Data Preprocessing
from sklearn.model_selection import train_test_split # Data Split
from sklearn.preprocessing import StandardScaler # Standardisasi
from sklearn.preprocessing import MinMaxScaler # Normalisasi

# Algoritma
from sklearn.neighbors import KNeighborsClassifier # KNN
from sklearn.naive_bayes import GaussianNB # Naive Bayes
from sklearn.tree import DecisionTreeClassifier # Decision Tree

# Baca File CSV

In [34]:
df = pd.read_csv('cost_prediction.csv')
df

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60423,Specialty,Carousel,Non-Consumable,2.76,1.3248,1.0,You Save Days,USA,M,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,In-Store Coupon,95.25
60424,Specialty,Carousel,Non-Consumable,1.60,0.4960,1.0,Price Cutters,USA,S,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,Sunday Paper,69.42
60425,Specialty,Carousel,Non-Consumable,5.52,2.5392,2.0,Weekend Markdown,USA,M,M,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,"Sunday Paper, Radio, TV",67.51
60426,Specialty,Carousel,Non-Consumable,8.28,2.5668,3.0,Sales Days,Canada,S,M,...,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,Sunday Paper,132.88
60427,Specialty,Carousel,Non-Consumable,9.20,4.2320,4.0,Super Duper Savers,Canada,S,F,...,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,"Daily Paper, Radio",87.76

# Jumlah Baris dan Kolom

In [35]:
df.shape

(60428, 40)

# Informasi Dataset

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60428 entries, 0 to 60427
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   food_category               60428 non-null  object
 1   food_department             60428 non-null  object
 2   food_family                 60428 non-null  object
 3   store_sales(in millions)    60428 non-null  float64
 4   store_cost(in millions)     60428 non-null  float64
 5   unit_sales(in millions)     60428 non-null  float64
 6   promotion_name              60428 non-null  object
 7   sales_country               60428 non-null  object
 8   marital_status              60428 non-null  object
 9   gender                      60428 non-null  object
 10  total_children              60428 non-null  float64
 11  education                   60428 non-null  object
 12  member_card                 60428 non-null  object
 13  occupation                  60428 non-null  object
 14  houseowner                  60428 non-null  object
 15  avg_cars_at home(approx)    60428 non-null  float64
 16  avg. yearly_income          60428 non-null  object
 17  num_children_at_home        60428 non-null  float64
 18  avg_cars_at home(approx).1  60428 non-null  float64
 19  brand_name                  60428 non-null  object
 20  SRP                         60428 non-null  float64
 21  gross_weight                60428 non-null  float64
 22  net_weight                  60428 non-null  float64
 23  recyclable_package          60428 non-null  float64
 24  low_fat                     60428 non-null  float64
 25  units_per_case              60428 non-null  float64
 26  store_type                  60428 non-null  object
 27  store_city                  60428 non-null  object
 28  store_state                 60428 non-null  object
 29  store_sqft                  60428 non-null  float64
 30  grocery_sqft                60428 non-null  float64
 31  frozen_sqft                 60428 non-null  float64
 32  meat_sqft                   60428 non-null  float64
 33  coffee_bar                  60428 non-null  float64
 34  video_store                 60428 non-null  float64
 35  salad_bar                   60428 non-null  float64
 36  prepared_food               60428 non-null  float64
 37  florist                     60428 non-null  float64
 38  media_type                  60428 non-null  object
 39  cost                        60428 non-null  float64
dtypes: float64(23), object(17)
memory usage: 18.4+ MB

# Statistik Dataset

In [37]:
df[['store_sales(in millions)','store_cost(in millions)','unit_sales(in millions)','cost']].describe()

,store_sales(in millions),store_cost(in millions),unit_sales(in millions),cost
count,60428.000000,60428.000000,60428.000000,60428.000000
mean,6.541031,2.619460,3.093169,99.262366
std,3.463047,1.453009,0.827677,30.011257
min,0.510000,0.163200,1.000000,50.790000
25%,3.810000,1.500000,3.000000,69.650000
50%,5.940000,2.385600,3.000000,98.520000
75%,8.670000,3.484025,4.000000,126.620000
max,22.920000,9.726500,6.000000,149.750000

# Korelasi antar Attribute Dataset

In [38]:
df[['store_sales(in millions)','store_cost(in millions)','unit_sales(in millions)','cost']].corr()

,store_sales(in millions),store_cost(in millions),unit_sales(in millions),cost
store_sales(in millions),1.000000,0.954685,0.503482,-0.004621
store_cost(in millions),0.954685,1.000000,0.480087,-0.004162
unit_sales(in millions),0.503482,0.480087,1.000000,-0.015015
cost,-0.004621,-0.004162,-0.015015,1.000000

# Data Split

In [39]:
data = df[['store_sales(in millions)','store_cost(in millions)','unit_sales(in millions)','cost']]
label = df['food_category']

data_train, data_test, label_train, label_test = train_test_split(data, label, test_size=.3)

In [40]:
print(f'panjang data training {len(data_train)}',
     f'panjang label training {len(label_train)}',
     f'panjang data testing {len(data_test)}',
     f'panjang label testing {len(label_test)}',
     sep='\n')

panjang data training 42299
panjang label training 42299
panjang data testing 18129
panjang label testing 18129

# Cek Nilai Null

In [41]:
df.isna().sum()

food_category                 0
food_department               0
food_family                   0
store_sales(in millions)      0
store_cost(in millions)       0
unit_sales(in millions)       0
promotion_name                0
sales_country                 0
marital_status                0
gender                        0
total_children                0
education                     0
member_card                   0
occupation                    0
houseowner                    0
avg_cars_at home(approx)      0
avg. yearly_income            0
num_children_at_home          0
avg_cars_at home(approx).1    0
brand_name                    0
SRP                           0
gross_weight                  0
net_weight                    0
recyclable_package            0
low_fat                       0
units_per_case                0
store_type                    0
store_city                    0
store_state                   0
store_sqft                    0
grocery_sqft                  0
frozen_sqft                   0
meat_sqft                     0
coffee_bar                    0
video_store                   0
salad_bar                     0
prepared_food                 0
florist                       0
media_type                    0
cost                          0
dtype: int64

# Cek Data Duplikat

In [42]:
df.duplicated().sum()

0

# Normalisasi

In [43]:
#Normalisasi
df_copy = df.copy()

scaler = MinMaxScaler()

normalize_dataset = scaler.fit_transform(df_copy[['store_sales(in millions)',
                                                  'store_cost(in millions)',
                                                  'unit_sales(in millions)',
                                                  'cost']])

normalize_dataset = pd.DataFrame(normalize_dataset)
normalize_dataset.rename(columns={ 0 :'store_sales(in millions)', 
                                  1 : 'store_cost(in millions)', 
                                  2 : 'unit_sales(in millions)', 
                                  3 : 'cost'}, inplace=True)

normalize_dataset.head(5)

,store_sales(in millions),store_cost(in millions),unit_sales(in millions),cost
0,0.305667,0.267690,0.6,0.766269
1,0.223561,0.254222,0.4,0.091653
2,0.141455,0.125312,0.2,0.337207
3,0.141455,0.106072,0.2,0.454628
4,0.159304,0.132256,0.4,0.000000

# Standarisasi

In [44]:
#Standarisasi
df_copy.drop('food_category', axis=1, inplace=True)

standart_std = StandardScaler()

standarisasi_data = standart_std.fit_transform(df_copy[['store_sales(in millions)',
                                                  'store_cost(in millions)',
                                                  'unit_sales(in millions)', 
                                                  'cost']])
standarisasi_data = pd.DataFrame(standarisasi_data)
standarisasi_data.rename(columns={  0 :'store_sales(in millions)', 
                            1 : 'store_cost(in millions)', 
                            2 : 'unit_sales(in millions)', 
                            3 : 'cost'}, inplace=True)
standarisasi_data

,store_sales(in millions),store_cost(in millions),unit_sales(in millions),cost
0,0.236490,0.071398,1.095643,0.911587
1,-0.294838,-0.017247,-0.112567,-1.312930
2,-0.826167,-0.865700,-1.320778,-0.503228
3,-0.826167,-0.992335,-1.320778,-0.116036
4,-0.710661,-0.820002,-0.112567,-1.615153
...,...,...,...,...
60423,-1.091831,-0.891027,-2.528989,-0.133696
60424,-1.426799,-1.461435,-2.528989,-0.994381
60425,-0.294838,-0.055237,-1.320778,-1.058024
60426,0.502154,-0.036242,-0.112567,1.120177
60427,0.767819,1.109803,1.095643,-0.383272

# Klasifikasi K-Nearest Neighbor

In [45]:
knn_classifier = KNeighborsClassifier(n_neighbors = 5)
knn_classifier.fit(data_train, label_train)

KNeighborsClassifier()

# Klasifikasi Gaussian Naive Bayes

In [46]:
gaussianNB_classifier = GaussianNB()
gaussianNB_classifier.fit(data_train, label_train)

GaussianNB()

# Klasifikasi Decision Tree

In [47]:
decision_tree_classifier = DecisionTreeClassifier()
decision_tree_classifier.fit(data_train, label_train)

DecisionTreeClassifier()

# SKOR

In [48]:
print(f'Skor Model K-Nearest Neighbor dengan k=5\t: {knn_classifier.score(data_test, label_test)}',
      f'Skor Model Gaussian Naive Bayes\t\t\t: {gaussianNB_classifier.score(data_test, label_test)}',     
      f'Skor Model Decision Tree\t\t\t: {decision_tree_classifier.score(data_test, label_test)}',
      sep = '\n')

Skor Model K-Nearest Neighbor dengan k=5	: 0.059848860941033706
Skor Model Gaussian Naive Bayes			: 0.12024932428705389
Skor Model Decision Tree			: 0.22874951734789564